.app {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* background: red; */
}

@media (max-width: 767px) {
  .app {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .app {
    max-width: 70%;
  }
}
